x-certbot-webroot: &certbot-webroot "/var/www/certbot"
x-certbot-conf: &certbot-conf "./certbot/conf:/etc/letsencrypt"
x-certbot-www: &certbot-www "./certbot/www:/var/www/certbot"

services:
  nginx:
    image: nginx:alpine
    container_name: agu-tour-nginx
    restart: unless-stopped
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
      - "443:443/udp"
    environment:
      NGINX_HTTPS_PORT: "443"
      NGINX_HTTP_PORT: "80"
      NGINX_SERVER_NAME: "${NGINX_SERVER_NAME}"
    volumes:
      - ./nginx/templates:/etc/nginx/templates:ro
      - ./app:/usr/share/nginx/html
      - ./logs:/var/log/nginx
      - *certbot-conf
      - *certbot-www
    depends_on:
      - certbot

  certbot:
    image: certbot/certbot:latest
    container_name: agu-tour-certbot
    restart: unless-stopped
    environment:
      WEBROOT: *certbot-webroot
    volumes:
      - *certbot-conf
      - *certbot-www
    entrypoint: >
      sh -c "trap exit TERM;
      while :; do
        certbot renew --webroot -w "$$WEBROOT" --quiet;
        sleep 12h;
      done"
