services:
  nginx:
    build: .
    container_name: agu-tour-nginx
    restart: unless-stopped
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
      - "443:443/udp"
    environment:
      NGINX_HTTPS_PORT: "443"
      NGINX_HTTP_PORT: "80"
      NGINX_SERVER_NAME: "${NGINX_SERVER_NAME}"
      NGINX_ACME_EMAIL: "${NGINX_ACME_EMAIL}"
    volumes:
      - ./app:/usr/share/nginx/html:ro
      - ./acme-data/letsencrypt:/etc/nginx/acme-letsencrypt
      - ./nginx/templates:/etc/nginx/templates:ro
      - ./logs:/var/log/nginx
